<form method="post" action="{{ path('app_news_informations_delete', {'id': news_information.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ news_information.id) }}">
    <button class="btn">Delete</button>
</form>
