{% extends "layout/base.html.twig" %}
{% block body %}
        <br><br>
		<div class="container bg-light text-center my-5 bold shadow"><br><br><br><br>
			<h1 class="text-white bg-dark shadow p-2">Créer un news
			</h1>

			{{ include('news_informations/_form.html.twig') }}

			<a href="{{ path('app_news_informations_index') }}">Retour vers la liste
			</a>

		</div>
	
{% endblock %}
