{% extends 'layout/base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block navbar %}{% endblock %}
{% block body %}
<div class="login-form bg-light bold text-center ">
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Update password </h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email, {'attr':{'class':'form form-control'}}) }}
        <div>
            <small>
                Enter your email address and we will send you a
                link to reset your password.
            </small>
        </div>

        <button class="btn btn-primary btn-block">Send password reset email</button>
    {{ form_end(requestForm) }}
</div>
{% endblock %}
{% block footer %}{% endblock %}