<!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-lg-block container">
      <span style="font-size: 1.5em;" class="pr-4 text-white">Retrouvez moi sur les reseaux :</span>
      <a style="font-size: 2em;" class="pr-2" href="https://www.linkedin.com/in/camara-daouda-921136152/" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a style="font-size: 2em;" href="https://github.com/camara92" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>

  </section>
 
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-danger text-uppercase fw-bold mb-4">
            <i class="text-info fas fa-gem me-3"></i>|| PortFolio
          </h6>
          <p class=" text-white">
            Comme vous pouvez voir au plus haut, je suis quand même en recherche d'une entreprise pour un stage ou de préférence apprentissage à compter du 20 juin 2022. Mobile partout en Frane. </p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-danger text-uppercase fw-bold mb-4">
            Quelques projets 
          </h6>
          <p>
            <a href="#" class="text-reset"><span class=" text-white">Angular | Ecommerce </span> </a>
          </p>
          <p>
            <a href="#" class="text-reset"><span class=" text-white">Symfony | Ecommerce</span></a>
          </p>
          <p>
            <a href="#" class="text-reset"><span class=" text-white">JScript | FromScratch</span></a>
          </p>
          <p>
            <a href="#" class="text-reset"><span class=" text-white">YesCode | Symfony </span></a>
          </p>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-danger text-uppercase fw-bold mb-4">
            Contact
          </h6>

          <img src="{{asset('assets/images/daouda.jpeg')}}"  alt="daoua" width="90px" class="rounded-circle border border-success m-2" height="80px" >
          <p class="text-white"><i class="fas fa-home me-3"></i>Strasbourg || France</p>
          <p>
           <i class="fas fa-envelope"></i><a href="mailto:daoudasouleymanecamara8@gmail.com">| daouda8@gmail.com</a>
          </p>
          <p><i class="fas fa-phone me-3"></i><a href="tel:+337667438283"> | 0767438283</a></p>
      
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright: <span class=" text-white">CAMARA Daouda</span> 
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->



{# footer projet  #}


  <div class="site-footer">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4">
            <h3 class="footer-heading mb-4">About Us</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat reprehenderit magnam deleniti quasi saepe, consequatur atque sequi delectus dolore veritatis obcaecati quae, repellat eveniet omnis, voluptatem in. Soluta, eligendi, architecto.</p>
          </div>
          <div class="col-md-3 ml-auto">
            <!-- <h3 class="footer-heading mb-4">Navigation</h3> -->
            <ul class="list-unstyled float-left mr-5">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Advertise</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">Subscribes</a></li>
            </ul>
            <ul class="list-unstyled float-left">
              <li><a href="#">Travel</a></li>
              <li><a href="#">Lifestyle</a></li>
              <li><a href="#">Sports</a></li>
              <li><a href="#">Nature</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            

            <div>
              <h3 class="footer-heading mb-4">Connect With Us</h3>
              <p>
                <a href="#"><span class="icon-facebook pt-2 pr-2 pb-2 pl-0"></span></a>
                <a href="#"><span class="icon-twitter p-2"></span></a>
                <a href="#"><span class="icon-instagram p-2"></span></a>
                <a href="#"><span class="icon-rss p-2"></span></a>
                <a href="#"><span class="icon-envelope p-2"></span></a>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib---</a>Downloaded from <a href="https://themeslab.org/" target="_blank">Themeslab</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
          </div>
        </div>
      </div>
    </div>
    
  </div>

  </body>
  </html>